body {
    /*background-color: #C1EDFF;*/
    /*background-color: white;*/
    background-image: url(../images/background.png);
    background-color: lightblue;
    font-family: Rubik, sans-serif;
}

iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#gameArea {
    overflow: hidden;
    position: relative;
    height: 80vh;
    width: 90vw;
    margin: 0 auto;
}

.hide {
    display: none;
}

header {
    background-color: #11e1f0;
    width: 100%;
    height: 50px;
    position: relative;
    direction: rtl;
    display: block;
    direction: rtl;
    z-index: 3;
    border-bottom: 5px solid darkblue;
}

    /*כותרת משחק*/
    header > a > p {
        font-family: 'Assistant', sans-serif;
        font-size: 12pt;
        font-weight: 600;
        position: relative;
        top: -10px;
        color: black;
        display: inline-block;
        direction: rtl;
    }

/*לוגו*/
#logo {
    width: 35px;
    height: 35px;
    padding: 5px 15px;
    direction: rtl;
}

nav {
    margin-top: -70px;
    margin-left: 10px;
    direction: rtl;
}

    nav ul {
        list-style: none;
        direction: rtl;
    }

        nav ul li {
            display: inline-block;
            float: left;
            direction: rtl;
        }

            nav ul li a {
                display: block;
                color: #034199;
                text-align: center;
                padding: 3px 10px;
                font-weight: 400;
                font-size: 12pt;
                font-family: 'Assistant', sans-serif;
                direction: rtl;
                text-decoration: none;
            }

                nav ul li a:hover {
                    font-weight: 600;
                    cursor: pointer;
                    font-family: 'Assistant', sans-serif;
                    direction: rtl;
                    text-decoration: none;
                }

.popUp {
    background-color: white;
    opacity: 0.5;
    width: 400px;
    position: fixed;
    top: 60px;
    z-index: 4;
    text-align: center;
    width: 700px;
    border-radius: 25px;
    padding: 10px;
    padding-bottom: 25px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    direction: rtl;
    border: 1px solid black;
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 0.5;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 30pt;
    color: darkblue;
}

h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 26pt;
    color: darkblue;
}

p {
    font-family: 'Rubik', sans-serif;
    font-size: 20pt;
    color: darkblue;
    display:inline-block;
}

a {
    font-family: 'Rubik', sans-serif;
    font-size: 20pt;
    color: darkblue;
}

#hitlogo {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

#aboutDiv {
    text-align:right;
}

#aboutDiv h2 {
    text-align: center;
}

#howToPlayDiv {
    text-align:right;
}

#howToPlayDiv h2{
    text-align: center;
}

.htppics {
    display:inline;
    margin-right:25px;
}